<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="users" value="Sameer,Anant"/>
    <add key="actions" value="New Familiy,Pension,Vikalang,Pension Vikalang,Bahu Vikalang,Collector,Search,Aadhar"/>
    <add key="fileName" value="DataEntry.csv"/>
    <add key="defaultUser" value="Sameer"/>
  </appSettings>
</configuration>